body{
	margin: 0;
	font-family: Roboto, Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height: 30px;
}

/* write your comment here */

header{
	background-color: #F4C6CC;
	text-align: center;
	padding-top: 2px;
	padding-bottom: 2px;
}

h1, h2{
	font-family: Lulo, Arial, sans-serif;

}

header h1{
	color: #6C5C48;
	font-size: 70px;
	font-family: 'Sacramento', cursive;
}

header img{
	height: 200px;
	width: 200px;
	padding-top: 10px;
}

main{
	max-width: 800px;
	padding: 20px;
}

h2{
	font-size: 35px;
	color: #69C3B2;
	margin: 45px;
	text-transform: uppercase;
	text-align: center;
}

a{
	color: #69C3B2;
}
a:hover{
	color: #6C5C48;
}

footer{
	background-color: #F4C6CC;
	text-align: center;
	padding: 50px;
}

footer p{
	margin: 0;
}

footer a{
	color: #FEFEFE;
}
footera:{
	color: #6C5C48;
}

p.caption{
	color: #BCAFA2;
	font-style: italic;
	margin-top: 100px;
	margin-bottom: 100px;
	margin-right: 150px;
	margin-left: 80px;
}

.columns {
  columns: 250px 3;
  column-rule: 1px dotted #ccc;
  column-gap: 3em;
  margin-left: 100px;
  margin-right: 100px;
}

.intro {
  column-span: all;
}

img{
	max-width: 50%;
	margin-left: 300px;
}