body{
	font-family: Roboto, Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height: 30px;
}

/* write your comment here */

header{
	background-color: #F4C6CC;
	text-align: center;
	padding-top: 2px;
	padding-bottom: 2px;
}

h1, h2{
	font-family: Lulo, Arial, sans-serif;

}

header h1{
	color: #6C5C48;
	font-size: 70px;
	font-family: 'Sacramento', cursive;
}

header img{
	height: 200px;
	width: 200px;
	padding-top: 10px;
}

main{
	max-width: 750px;
	margin: 0 auto;
	padding: 20px;
}

main img{
	max-width: 100%;
	margin-top: 40px;
}

h2{
	font-size: 30px;
	color: #69C3B2;
	margin: 40px 0 40px;
	text-transform: uppercase;
	text-align: center;
}

h3{
	font-size: 25px;
	color: #6C5C48;
	margin: 0;
	text-transform: uppercase;
	padding: 0;
}

footer{
	background-color: #F4C6CC;
	text-align: center;
	padding: 50px;
}

footer p{
	max-width: 900px;
	margin: 0 auto;
	padding: 20px;
}